body {
    background-image: url("../images/blue_3d_crystals-wallpaper-1440x900.jpg");
}

h1 {
    color:white;
    font-size: 40px;
    background-color: rgb(230, 101, 27);
    width:280px;
    height:60px;
    margin:10px auto auto 10px;
    padding-top:15px;
}
.p {
    font-size: 20px;
    color:green;
    
}
.instructions {
    width:520px;
    height:330px;
    padding:10px;
    background-color:rgba(255, 255, 0, 0.753);
    margin:10px auto auto 10px;
    font-size: 20px;
    color:green;
}

#container {
    width:40%;
    margin:10px auto auto 10px;
    height: 90px;
}
#computerGuess {
    font-size: 50px;
    
    margin:10px auto auto 0px;
    background-color:rgba(43, 184, 43, 0.733);
    height:90px;
    width:206px;
    
}

#winsLosses {
    font-size: 19px;
    position:relative;
    left:210px;
    top:-90px;
    
    background-color:rgba(134, 186, 235, 0.671);
    height:90px;
    width:100px;
}
.images{
    width:350px;
    height:80px;
    
    margin:10px auto auto 10px;
}
#blue, #red, #green, #yellow {
    position: relative;
}
.ytsis {
    background-color:turquoise;
    margin:10px auto auto 10px;
    width:206px;
    height:18px;
}

#yourScore {
    font-size: 40px;
    background-color: turquoise;
    margin:10px auto auto 10px;
    height:90px;
    width:206px;

}